!!!
%html

  %head

    :css
      body {
        background-color: #F0F8FF;
      }
      .centered {
        display: block;
        margin: 0 auto;
      }
      #text {
        width: 650px;
        text-align: justify;
        font-family: sans-serif;
        font-size: 20px;
        letter-spacing: 0.03em;
        line-height: 1.3em;
        color: #3C3000;
      }
      #audio {
        width: 650px;
        height: 1020px;
        border: 0;
      }
      #footer {
        text-align: center;
        margin: 30px 0 0;
      }
      #footer a {
        color: #5F9EA0;
      }

  %body

    #text.centered
      %p
        В их представлении, человеческая природа состоит из двух сущностей: сотворенной демиургом телесной, состоящей из материи, и духовной, имеющей божественное происхождение. При этом зародыш божественной жизни содержится в каждом человеке, и каждый при благоприятных условиях способен в той или иной форме воспринять послание божественной правды. Демиург, «сотворив» человека путем соединения его духовной и телесной сущностей, пытался удержать первого человека в абсолютном рабстве. Первый человек не должен был сознавать свою высшую природу, дабы у него не обнаружилось стремление высвободиться из царства демиурга. Отсюда — и повеление не есть от дерева познания добра и зла. Но Адам ослушался повеления демиурга, и его непослушание разорвало оковы рабства; таким образом, он и его род достигли осознания своей высшей природы, a грехопадение в Эдеме — не грех, а наоборот, благо и необходимая предпосылка для будущего искупления.
      %p
        Они верили в существование имманентной связи между человеческими душами и всевышним Богом, связи, которая не может быть разрушена демиургом. Каждая душа содержит Божественное откровение, и благодаря этому способна противостоять влиянию демиурга. Это, по их мнению, подтверждают слова из Евангелия от Иоанна: «В нем была жизнь, и жизнь была свет человеков. И свет во тьме светит, и тьма не объяла его» (Иоан. 1:4-5). Этот свет в частности проявляет себя в присущем всем людям чувстве правды. Вместе с тем, человеку присуща свобода воли, и именно от его решения зависит, подчинится ли он власти греха, угнетая зерно божественного света в своей душе, или же будет следовать путем, предначертанным божественным откровением, тем самым, взращивая в себе зерно божественной жизни, даруя ему свободу и силу. При этом, как бы низко ни пал человек, благодаря самой своей природе он не может быть полностью и навсегда лишенным вечной своей причастности к Богу.
      %p
        Спаситель, согласно их учению, пришёл на Землю в качестве небесного существа, будучи посланцем Высшего мира, и после выполнения Своей земной миссии, возвратился в Своё небесное обиталище.
      %p
        Они придавали распятию Христа символическое значение: Христос снизошёл из божественного мира в царство демиурга, «пропустив» Себя через него (подобно тому, как вода проходит через почву). Они не принимали свойственной современным христианам доктрины искупительной жертвы Христа, якобы искупившего Своими страданиями грехи человечества, считая это абсурдом. Они осуждали поклонение кресту как куску дерева, орудию казни злодеев и символу проклятия и, вместе с тем, почитали крест как геометрическую фигуру, имеющую символическое значение.
      %p
        Они выступали за восстановление простоты, которая была свойственна апостолам. Они были противниками многочисленных внешних церковных церемоний и ритуалов, что, по их мнению, свидетельствует о духовном упадке христианских церквей. Они решительно боролись против представлений о магических эффектах от «внешних» церемоний, в особенности — церковных таинств, якобы способных исцелять болезни, решать другие проблемы. Они отрицали крещение водой, утверждая, что под крещением Христос имел в виду лишь крещение Духом, так как, благодаря своим учениям, Христос Сам стал живой водой для очищения человеческой природы. Также они отрицали причастие, утверждая, что поедание плоти и крови Христа на самом деле является метафорой, суть которой состоит во вступлении в жизненную связь с Ним посредством принятия Его учения, Его слова, которые суть Его настоящие тело и кровь.
      %p
        Они решительно выступали против роскоши и распущенности духовенства, отвергали церковную иерархию, требовали упрощения церковных обрядов. Они осуждали почитание святых и икон, считая это идолопоклонством. Они требовали восстановления социального равенства по примеру раннехристианских общин, которое они понимали не только как равенство перед Богом, но и как социальное равенство.
      %p
        О ком речь?

    %iframe#audio.centered{src: "https://bandcamp.com/EmbeddedPlayer/album=1040123770/size=large/bgcol=ffffff/linkcol=63b2cc/transparent=true/", seamless: true}
      %a{href: "http://alicespacedoll.bandcamp.com/album/angelic-activism"}
        Angelic Activism by Alice SpaceDoll

    #footer
      %a{href: "mailto:cyberpaulician@gmail.com"}
        cyberpaulician@gmail.com
