!!!
%html

  %head

    %meta{name: 'viewport', content: 'width=device-width'}
    %meta{charset: 'utf-8'}

    :css
      body {
        background-color: #F0F8FF;
        margin: 0;
      }
      @media screen and (min-width: 970px) {
        #menu {
          position: fixed;
          z-index: 10;
          top: 0;
          left: 0;
          bottom: 0;
        }
        #content {
          margin: 15px 0 0 320px !important;
        }
      }
      #menu {
        width: 300px;
        margin: 15px 0 15px 15px;
        overflow-y: auto;
        overflow-x: hidden;
      }
      #menu ul {
        padding: 0;
        margin: 0;
        list-style: none;
      }
      #menu ul.nested {
        padding-left: 23px;
        list-style: lower-greek;
      }
      #content {
        width: 650px;
        margin: 15px;
      }
      #audio {
        width: 100%;
        height: 1020px;
        border: 0;
      }
      #lyrics {
        font-size: 20px;
        color: #3C3000;
      }
      #footer {
        text-align: center;
        padding: 50px 0 0;
        margin: 0 0 100%;
      }
      #footer ul {
        list-style: none;
      }
      #menu a, #lyrics a, #activism a, #footer a {
        color: #5F9EA0;
      }
      #menu a.active {
        font-weight: bold;
      }

  %body

    #menu
      %ul
        %li
          %a.menu-item{href: "#audio"} Angelic Activism by Alice SpaceDoll
        %li
          %a.menu-item{href: "#lyrics"} Перевод песен
          %ul.nested
            %li
              %a.menu-item{href: "#heaven-on-earth-song"} Рай На Земле
            %li
              %a.menu-item{href: "#changer-song"} Переменьщик (Changer)
            %li
              %a.menu-item{href: "#we-are-the-ones-song"} Мы Те
            %li
              %a.menu-item{href: "#Gaia-song"} Гайя
            %li
              %a.menu-item{href: "#to-lie-is-to-push-song"} Лгать Значит Отталкивать
            %li
              %a.menu-item{href: "#mirrors-and-reflections-song"} Зеркала И Отражения
            %li
              %a.menu-item{href: "#if-god-is-out-there-song"} Если Бог Где-То Там
            %li
              %a.menu-item{href: "#end-game"} Последняя Игра
        %li
          %a.menu-item{href: "https://ru.wikipedia.org/wiki/%D0%9F%D0%B0%D0%B2%D0%BB%D0%B8%D0%BA%D0%B8%D0%B0%D0%BD%D0%B5", target: "_blank"} Они
        %li
          %a.menu-item{href: "#activism"} Активизм
        %li
          %a.menu-item{href: "#footer"} Контакты


    #content

      %iframe#audio.item{src: "https://bandcamp.com/EmbeddedPlayer/album=1040123770/size=large/bgcol=ffffff/linkcol=63b2cc/transparent=true/", seamless: true}
        %a{href: "http://alicespacedoll.bandcamp.com/album/angelic-activism"}
          Angelic Activism by Alice SpaceDoll

      #lyrics.item
        %h3#heaven-on-earth-song.item
          %a{href: "#heaven-on-earth-song"}
            Рай На Земле
        %pre
          Рай — он на Земле
          &nbsp;
          он — состояние ума
          ненайденный путь
          в мире страха
          о, конец близок
          &nbsp;
          следуй
          мы идём
          солнце заходит
          мы зажигаем
          свечи
          утром для
          матери
          похоже, мы
          неблагодарные души
          а сад вечно растёт
          &nbsp;
          небеса так глубоко
          а куда они ведут
          никто не знает
          не знает никто
          моё сердце
          грохочет громом
          ну и пусть
          &nbsp;
          как я могу продолжать жить
          со всей болью, причинённой мною?
          со всей кровью, что была пролита?
          как мы прощаем?
          или мы забыли о мире?
          &nbsp;
          о мире войны
          богатых и бедных
          чёрных и белых
          сомнений, ненависти, страха, борьбы
          &nbsp;
          ах да, если мы сделаны из света
          если мы и правда сделаны из света
          самое время сиять
          это не секрет и не надо его хранить:
          не будет рая на земле пока мы не переродимся
          &nbsp;
          ах да, если мы продолжим сжигать жизнь
          она не окажется зеленее на "другой стороне"
          и всю свою жизнь я ждал лучших времён
          пока однажды свет ангелов не осветил её так ярко
          &nbsp;
          ах, ангелы судьбы
          если вы меня слышите
          пожалуйста, направьте меня
          &nbsp;
          потому что я сомневаюсь
          похоже, я сомневаюсь

        %h3#changer-song.item
          %a{href: "#changer-song"}
            Переменьщик (Changer)
        %pre
          что происходит?
          что я делаю?
          что происходит?
          &nbsp;
          состояние этого мира — для меня это слишком
          побежать? спрятаться?
          встать с гордостью
          и бороться за то, что верно?
          &nbsp;
          закопаться в землю и протестовать?
          или замкнуться и выразить это искусством?
          встать и столкнуться со всем этим страхом?
          или целый мир исчезает
          &nbsp;
          я переменьщик
          и я чужд многим
          я как призрак
          шагающий по этой земле
          смотрящий на кислотный дождь
          &nbsp;
          прежде всего я дух
          и я здесь, чтобы испытать это
          куда мы идём?
          знает ли кто-то?
          &nbsp;
          мир в огне
          потребители, жажда
          леса стонут
          океаны кровоточат
          если их никто не сохранит
          если мы не спасители
          тогда кто?
          как и ты, я переменьщик
          &nbsp;
          ах, мне был дан этот голос
          говорят, это сознательный выбор
          так что, если бы я остановился и замолчал?
          &nbsp;
          ах, это давление, что я чувствую
          давление сказать что-то реальное
          у меня нет всех ответов
          но, мой друг, их может иметь жизнь
          &nbsp;
          ответы
          ответы
          ответы

        %h3#we-are-the-ones-song.item
          %a{href: "#we-are-the-ones-song"}
            Мы Те
        %pre
          что если я скажу тебе, что нас всех не будет
          через 50 лет, может меньше, может больше
          когда призраки маршируют по земле
          ища шанс попасть домой
          &nbsp;
          мы — ангелы, направляющие нас
          забудь всех своих богов
          ты сам повлечёшь всемогущие перемены
          это ты тот, кто пройдёт
          кто доставит нас обратно домой
          &nbsp;
          нет никого, кто спас бы нас от падения
          нет мольбы, что могла бы быть услышана
          некого звать [некому звонить :D]
          говорят, правда
          что мы те, кого мы ждали
          так чего мы ждём?
          &nbsp;
          не отворачивайся, не уходи
          самое время показать путь
          из этой неразберихи
          &nbsp;
          слёзы переполняют мои глаза от бесконечной войны
          теперь мы чувствуем, для чего нам сердца
          мы — те, кого мы ждали
          &nbsp;
          ах, я хочу увидеть тебя
          мы едины
          я вижу тебя

        %h3#Gaia-song.item
          %a{href: "#Gaia-song"}
            Гайя
        %pre
          без Земли я не дышу
          без сердца я не вижу
          быстр, как ветер
          я — животное
          я горд
          без солнца я не расту
          без дождя жизнь не будет течь
          &nbsp;
          я могу быть где угодно в мире
          где страдания сокрыты от наших глаз
          ох, матерь, просто дай мне последний шанс
          я научусь любить
          я научусь жить жизнь как танец
          &nbsp;
          и что ты начинаешь чувствовать?
          что ты чувствуешь здесь?
          откройся
          да, откройся
          &nbsp;
          что ты начинаешь чувствовать в своём сердце?
          откройся
          откройся же
          &nbsp;
          выше, выше
          чем она дышит
          Гайя, Гайя
          она дала нам шанс
          шанс изливать любовь
          причину танцевать
          Гайя, Гайя
          в мире, что сейчас соскальзывает вниз
          да, мы соскальзываем вниз
          &nbsp;
          что если бы у меня не было сердца?
          что если бы я не исполнил свою роль?
          что стало бы с моим домом?
          куда пошли бы мои братья и сёстры?
          &nbsp;
          и если я сплю ночью, если я проснулся с пылающим небом
          со всей любовью я стою гордо
          кто со мной?
          &nbsp;
          ты всё ещё не поверишь, если я скажу, что всё будет хорошо?
          ты всё ещё не поверишь, что любовь спасёт нас, если бы любовь могла нас спасти?
          &nbsp;
          измени себя
          и ты изменишь мир
          освободи свой разум и ты сохранишь мир
          памятую об этой простой истине
          мы знаем что мы должны делать
          открыт, открыт, открыт ли ты?
          открыт ли, открыт ли, открыт ли ты?
          открыт, открыт, открыт ли ты?
          открыт ли, открыт ли, открыт ли ты?
          &nbsp;
          измени себя и ты изменишь мир
          ты можешь изменить мир
          матерь, я буду скучать, если ты уйдёшь
          открыт, открыт, открыт ли ты?
          &nbsp;
          будь светом любви на земле
          возрождайся перерождайся
          возрождайся перерождайся

        %h3#to-lie-is-to-push-song.item
          %a{href: "#to-lie-is-to-push-song"}
            Лгать Значит Отталкивать
        %pre
          я горд тем, что говорю правду
          лицемеры, я лгал больше вас
          как мы делимся с теми, кого любим?
          что такое, о чём мы никогда не должны говорить?
          &nbsp;
          мне больно сказать
          ты думал, ты хорошо меня знаешь
          лгать — словно ломать
          отталкивать прочь
          я знаю, это звучит плохо
          пожалуйста, не грусти
          если это твой страх
          мать моя, это так [эммм :D]
          &nbsp;
          ах, там, где свет
          там не будет лжи
          там свет
          &nbsp;
          достаточно лжи
          я как золотой луч солнца
          я здесь
          смахиваю твои слёзы
          как болезненна правда
          так и я всё ещё ребёнок моего детства
          нет, мне больно сказать
          ты думал, ты хорошо меня знаешь
          ах, ах
          &nbsp;
          лгать — словно ломать, отталкивать прочь
          и я знаю, это звучит плохо, но пожалуйста, не грусти
          если это твой страх
          любимый мой, это так
          &nbsp;
          любимый мой, это так

        %h3#mirrors-and-reflections-song.item
          %a{href: "#mirrors-and-reflections-song"}
            Зеркала И Отражения
        %pre
          твои глаза, они ведут меня домой
          отражения моих собственных
          в душе мы племя
          &nbsp;
          и не боялся ли ты когда-нибудь
          я здесь в полумраке
          когда идёт война и плывёт мир
          любовь растёт
          &nbsp;
          мы зеркала
          да, мы зеркала
          &nbsp;
          о да, покажи мне совершенство
          держи своё зеркало, будь моим отражением
          в твоих глазах я вижу кто я
          я вижу тебя
          &nbsp;
          на другой стороне жизни
          я вижу мои провалы
          я вижу почему
          почему мы страдаем
          но зачем?
          зачем?
          да, зачем?
          мы зеркала
          &nbsp;
          не говори мне своих секретов
          я итак их знаю
          &nbsp;
          ты можешь слышать стук моего сердца в своих руках
          ты можешь чувствовать тепло крови под моей кожей
          ты можешь слышать тот же шёпот свыше
          &nbsp;
          стук моего сердца
          тепло моей крови

        %h3#if-god-is-out-there-song.item
          %a{href: "#if-god-is-out-there-song"}
            Если Бог Где-То Там
        %pre
          что-то шевелится в воде
          что-то болит внутри
          если Бог
          если Бог где-то там
          &nbsp;
          что-то кровоточит в океане
          сердца, что чувствуют эту эмоцию
          я иду вглубь
          если Бог здесь
          &nbsp;
          о да
          Бог дал мне зёрна, так что я собираюсь дать им взрасти
          о да
          Бог дал мне крылья, так что я даю им летать
          самое время
          &nbsp;
          если Бог где-то там
          сейчас самое время
          да, если Бог где-то там
          сейчас самое время
          &nbsp;
          что-то дышит в горах
          сердце, оно бьётся сквозь деревья
          прислушайся
          прислушайся к нему
          &nbsp;
          кто-то молит о спасении
          там, где нет разделения
          о да, и Бог прямо здесь
          &nbsp;
          сейчас самое время отпустить всё
          все вещи, что тебе нет нужды удерживать
          я отдаю всё, что могу
          &nbsp;
          сейчас самое время вырастить все твои зёрна
          сейчас самое время прожить все твои мечты
          мы создатели
          да, мы творцы
          &nbsp;
          ах, я отдаю себя свету
          до тех пор, пока мы не остановим войну и борьбу
          до тех пор я отдаю себя свету
          &nbsp;
          я вдохновлён
          положи руки на землю
          пусть всё проходит
          посади свои зерна и свет
          пусть всё течёт
          окуни своё сердце в жизнь, что питает знакомое
          свети своим светом в это сердце
          смотри, как оно растёт
          &nbsp;
          посмотри на эти бывшие опущенными руки
          мы делаем правильное и неправильное
          и мы сильны
          &nbsp;
          смотри на свет
          мы ангелы под прикрытием
          через наше поведение
          мы наши спасители
          &nbsp;
          если я отдаю себя Богу
          я в безопасности
          и если мы найдём в себе наш путь к Богу
          мы в безопасности
          &nbsp;
          я покажу тебе всё, что я вижу
          что Бог открыл мне
          я в тебе, а ты во мне
          в месте, где мы всегда найдём истину
          я знаю, ты слышишь те же слова
          я чувствую это в тебе
          &nbsp;
          я знаю, ты тоже слышишь эти слова
          ты во мне, а я в тебе

        %h3#end-game.item
          %a{href: "#end-game"}
            Последняя Игра
        %pre
          Земля
          о, Земля
          &nbsp;
          если это последняя игра для нашего мира
          мы можем сыграть получше
          быть может, это последние слова, которые я могу сказать
          я молюсь, да, я молюсь
          &nbsp;
          и что выходит на свет?
          Земля
          и что лечит боль?
          земля
          &nbsp;
          и если это мои последние слова
          тогда я должен быть услышен
          я должен быть услышен
          &nbsp;
          пойдём домой
          мы единая душа
          одно сердце
          один ум
          одна часть
          &nbsp;
          беспрестанно я оплакиваю потерянную жизнь
          потерянную за бесценок
          я всегда буду любить тебя
          до конца пространства и времени
          пока Земля искажает его
          &nbsp;
          я высоко и низко
          что выше
          так и ниже
          &nbsp;
          чего стоит золото?
          да, чего стоит золото?
          один два три четыре пять
          чего стоит золото?
          &nbsp;
          если я смогу удержать моё дыхание после наступления теней
          я подожду до сумерек, я подожду тебя до рассвета
          если же это последний раз, пусть он будет настоящим и необузданным
          пусть он сияет

      %hr/

      #activism.item
        %ul
          %li
            %a{href: "/files/pavlikians_card_cmyk.tiff"} Макет визитки

    #footer.item
      %ul
        %li
          %a{href: "https://vk.com/pavlikians"}
            Группа ВКонтакте
        %li
          %a{href: "mailto:cyberpaulician@gmail.com"}
            cyberpaulician@gmail.com


    %script{src: "//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"}

    :coffee
      win = jQuery(window)
      menuItems = jQuery('.menu-item')
      items = jQuery('.item')

      win.scroll ->
        jQuery.each items, (key, value) ->
          item = jQuery(value)
          if win.scrollTop() > (item.offset().top - 30)
            jQuery('.menu-item.active').removeClass('active')
            menuItems.filter("[href=#"+item.attr('id')+"]").addClass('active')
